extends layout

block content
  h1 Sport Tracker
  p.lead Track your sport activity and follow your goal
  hr
  .row
    .col-sm-6
      h2 Features
  li Add activity (Date, duration and distance)
  li View Chart of distance and pace progression through time
  li View all activity inside a table
  li User account with social and local login
